@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;

}
body {
  overflow:unset; /* Hide scrollbars */
}

/*Header*/
.navbar{
  position: sticky;
  top: 0;
  z-index: 10;
}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10%;
  border-bottom:  1px solid black;
  background-color: rgb(255, 255, 255);

 

}
header .logo{
  height: 90px;

}
header .logo img{

  height: 100%;
  object-fit: contain;
  
}

header .search-box{
  width: 250px;
  background-color: rgba(239, 239, 239, 1);
  padding: 3px 16px;
  display: flex;
  align-items: center;
  border-radius: 3px;

}
header .search-box input{
  height: 30px;
  border: none;
  outline: none;
  background-color:  rgba(239, 239, 239, 1);
  padding-left: 10px;
}
.icons{
  width: 25px;
  margin: 5px;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav li{
  margin: 20px;
}
/* header nav li:last-child{
  margin-right: 2%;
} */

header nav li a {
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
margin: 5px;
}



header nav li a .profile{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
/*Body Section*/
section{
  padding: 10px 10%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;

}
.left-side{
  width: 50%;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 16px 100px;
  background-color: rgba(212, 206, 206, 0.983);
}



/*Post*/
.posts{
  margin: 25px 0px; 
  background-color: white ;
  border: 1px solid black;
  border-radius: 25px;
  box-shadow: 20px 20px 50px rgb(54, 52, 52);
}
.posts .post-title{
  display: flex;
  justify-content: flex-start;
  
  align-items: center;
  padding: 16px;
}
.posts .post-title .profile {
margin-right: 15px;
}
.posts .post-title .profile img{
border-radius: 50%;
object-fit: contain;
  }
.posts .post-title .username .name{
  padding-bottom: 2px;
  font-weight: bold;

}
.posts .post-content .text-post {
  margin: 5px;
  
  }
.posts .post-content .text-post p {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  }
.posts .post-content img{
width: 100%;
height: 100%;
object-fit: contain;
}
/*Post Footer*/
.posts .post-footer{
  display: flex;
  justify-content: space-between;
  padding: 14px;
}
.posts .post-footer .like-comment i{
  font-size: 22px;
  
  margin-right: 10px;
}
.posts  .post-footer-content{
padding: 0 16px 16px 16px;
}
.posts  .post-footer-content p{
margin-bottom: 3px;
  }
.posts  .post-footer-content .likes{
  margin-bottom: 8px;
      }
.posts  .post-footer-content .comment{
        font-size: 10px;
        margin: 5px;
            }
.posts  .post-footer-content .time{
        font-size: 10px;
            }

.posts  .add-comment{
  padding: 16px;
  border-top: 1px solid #efefef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.posts  .add-comment .comment-left-side{

  display: flex;
  align-items: center;
  
}

.posts  .add-comment .comment-left-side input{
  padding: 5px;
  width: 100%;
  outline: none;
  border: none;
}
/* #setting:hover{
  animation: rotae 1000ms ;
}
@keyframes rotae {
  100%{
    transform: rotate(360deg);
    
  }


  
} */
/*Media Query*/
 @media (max-width:716px){
  
header{
  padding: 0px 2%;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  }
section{
    padding: 10px 10px;
    width: 100%;
    overflow: hidden;

  }
  header nav li{
    margin: 10px;
  }
  .left-side{
    width: 85%;}


  


} 

@media (max-width:522px){
  
  header{
    padding: 0px 9px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    }
  section{
      /* padding: 10px 0px; */
      width: 100%;
      overflow: hidden;
    }
    header nav li{
      margin: 5px;
    }
    .left-side{
      width: 85%;}
  
  
    
  
  
  }